.beranda-container {
    
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 2rem 2rem; /* beri padding supaya nggak nempel banget */
  gap: 2rem;
  color: #7D6898;
  width: 100%; /* penuh lebar layar */
  box-sizing: border-box;
}


.left-side {
  flex: 2;
}

.right-side {
  flex: 1;
  background-color: #fff;
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* lebih tebal dan gelap */
  display: flex;
  flex-direction: column;
  align-items: center;
}


h2 {
  font-weight: 400;
  margin-bottom: 0.2rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  justify-content: center;
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 600px;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  background-color: #7D6898;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #2779bd;
}

.right-side h2 {
  color: #7D6898;
  font-weight: 700;
  text-align: center;
  font-size: 1.25rem;
}

.levels-vertical {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
  width: 100%;
  align-items: center;
}

.level-btn {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  transition: transform 0.2s ease;
  cursor: default;
}

/* Warna setiap level */
.level-1 {
  background-color: #4CC0BE; /* Tidak Kecanduan */
}

.level-2 {
  background-color: #319E9C; /* Mulai Beresiko */
}

.level-3 {
  background-color: #2A8280; /* Kecanduan Ringan */
}

.level-4 {
  background-color: #1E5B5A; /* Kecanduan Sedang */
}

.level-5 {
  background-color: #103231; /* Kecanduan Berat */
}

.level-btn:hover {
  transform: scale(1.04);
}
